html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map-canvas {
	height: 100%;
	width: 80%;
	margin: 0px;
	padding: 0px;
	float: left;
}

#sidebar {
	height: 100%;
	width: 20%;	
	float: left;
	font-family: 'Avenir Next';
}
#title {
	margin-bottom: 10px;
	padding-left: 15px;
	font-size: 24pt;
	color: white;
	background-color: black;
}
#content {
	padding-left: 15px;
	font-size: 10pt;
}

#icons {
	padding-right: 15px;
	float: left;
} 
i.fa-bicycle {
	color: #9a5cb4;
	font-size: 22pt;
}
i.fa-male, i.fa-female {
	color: #e95569;
	font-size: 18pt;
}

.label {
	font-size: 12pt;
}
span.fp-toggler {
	height: 20px !important;
	width: 40px !important;
	margin-right: 18px !important;
	padding-top: 5px !important;
}
span.handle {
	height: 18.2px !important;
	width: 18.2px !important;
	margin-right: 18px !important;
}